body {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: "Open Sans", sans-serif;
}

label {
    display: inline-block;
    width: 100px;
}

input {
    width: 350px;
    padding: 5px;
    font-size: 16px;
}

input.small {
    width: 70px;
    padding: 5px;
    font-size: 16px;
}
  
button {
    font-size: 16px;
    padding: 5px;
}

h1, h2 {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 10px;
}

h2 {
    color: #AAA;
    font-size: 32px;
}

h3 {
    font-weight: normal;
    color: #AAA;
    font-size: 24px;
}

.black {
    color: black;
}

#balance {
    color: black;
}

table, td, th {
    border: 1px solid #AAA;
    border-spacing: 0px;
}

td, th {
    padding: 0.25em;
}

.adding {
    color: gray;
}

#navbar {
    background-color: rgba(222,113,80,1);
}

#logo {
    float: left;
    height: 36px;
    width: auto;
    margin-left: 90px;
}

.navbar-brand {
    padding: 12px !important;
}

#navbar a {
    color: #fff;
}

#navbar a:hover {
    background-color: rgba(222,113,80,.8);
}

#languageSelection {
    float: right;
    margin-top: 7px;
    width: auto;
}

#faucet-status-panel {
    line-height: 60px;
    color: black;
    background: white;
    padding: 13.5px;
}

#faucet-status {
    color: orange;
}

.when-status-online {
    color: #18bc9c;
}

.when-status-offline {
    color: red
}

.status-loading .when-status-online,
.status-loading .when-status-offline,
.status-online .when-status-loading,
.status-online .when-status-offline,
.status-offline .when-status-online,
.status-offline .when-status-loading,
.web3-not-there .when-web3-there,
.web3-there .when-web3-not-there,
.is-not-eip-1102 .when-is-eip-1102,
.is-eip-1102 .when-is-not-eip-1102,
.is-eip-1102.has-account .when-is-eip-1102,
.faucet-not-there .when-faucet-there,
.faucet-there .when-faucet-not-there,
.has-no-account .when-has-account,
.is-not-owner .when-is-owner {
    display: none;
}
